<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>단축 Url</title>
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .wrap {
            margin: auto;
            width: 900px;
        }

        .comment {
            font-weight: bold;
            color: blue;
        }

        .posting-box {
            margin: 10px auto 30px auto;
            width: 500px;

            border: 3px solid black;
            border-radius: 5px;

            padding: 25px;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="posting-box">
        <div class="form-group">
            <input type="text" id="inputText" class="form-control" placeholder="주소를 입력해주세요" onkeydown="enterKey()">
        </div>
        <button id="makeUrlButton" class="btn btn-primary" onclick="makeShortUrl()">단축 Url 생성</button>
        <div class="form-group">
            <input type="text" id="shortUrl" class="form-control" placeholder="단축 Url 생성 시 주소가 생겨요" readonly>
            생성된 Url 클릭 시 복사
        </div>

    </div>
</div>
</body>
<script>

    const shortUrl = document.getElementById('shortUrl');

    function enterKey() {
        if (window.event.keyCode == 13) {
            makeShortUrl();
        }
    }

    function makeShortUrl() {
        const inputText = document.getElementById('inputText').value;

        let data = {
            "url": inputText
        }
        $.ajax({
            type: "POST",
            url: "http://url.govpped.com/url",
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                $('input[id=shortUrl]').attr('value', response);
                copyUrl();
            }, error: function (error) {
                console.log(error);
            }
        });
    }

    function copyUrl(){
        shortUrl.select();
        document.execCommand('copy');
        alert("복사 완료!")
    }

    shortUrl.onclick = () => {
        copyUrl();
    }
</script>
</html>